{% extends "base.html" %}

{% block conteudo %}

<h2>Fotos Cadastradas</h2>

<a href="/"><button>⬅ Voltar</button></a>

<hr>

<div class="grid">
    {% for nome, foto in fotos %}
        <div class="card">
            <img src="{{ foto }}">
            <p>{{ nome }}</p>
        </div>
    {% endfor %}
</div>

<div class="paginacao">

    {% if pagina > 1 %}
        <a href="/listar?page={{ pagina - 1 }}">
            <button>Anterior</button>
        </a>
    {% endif %}

    Página {{ pagina }} de {{ total_paginas }}

    {% if pagina < total_paginas %}
        <a href="/listar?page={{ pagina + 1 }}">
            <button>Próxima</button>
        </a>
    {% endif %}

</div>

{% endblock %}